package templates

templ Index(basePath string, siteName string) {
	@Layout("Медиатека", basePath, siteName, false) {
		<div
			id="content"
			hx-get="library"
			hx-trigger="load"
			hx-swap="innerHTML"
		></div>
	}
}
